# RentSure App Environment Variables

EXPO_PUBLIC_USE_MOCKS=true

# Add your Paystack Public Test Key below to enable the real checkout flow.
# Rename this file to .env locally. DO NOT commit the .env file to version control.
EXPO_PUBLIC_PAYSTACK_KEY=50a8e8dc9abbc0104334b88e2fe36c649e6998f5